[user]
	name = Simon Legander
	email = simon.legander@gmail.com

[color]
    ui = true

[push]
    default = tracking

[alias]
    fe = fetch
    pl = pull
    ps = push
    st = status
    br = branch
    co = checkout
    cm = commit
    ci = commit
    sh = stash
    di = diff
    dica = diff --cached
    new = log --branches --not --remotes
    release = !git flow release start `date +'%Y%m%d-%k%M00'`
    setup-fetching-prs = !git config --add remote.origin.fetch '+refs/pull/*/head:refs/remotes/origin/pr/*' && git fetch origin

[mergetool "p4merge"]
    cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$PWD/$BASE\"" "\"$PWD/$REMOTE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$MERGED\""
    prompt = false
    trustExitCode = false

[merge]
    tool = p4merge
    prompt = false
[core]
	excludesfile = /Users/legander/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
